*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(27, 27, 31, 1) 0%, rgba(121, 187, 199, 1) 100%);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h1 {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h1 i {
    width: 30px;
    margin-left: 10px;
} 
.row form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.no-task { 
    padding-left: 0;    
    text-align: center;
    color: gray;
}
ul li.no-task:before {
    display: none;
}

ul li:before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/checkbox.png);
    background-size: cover;
    background-position: center;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(images/checkbox-checked.png);
}
.alert {
    display: none; 
    color: white; 
    background: red; 
    padding: 8px; 
    margin: 8px;
    border-radius: 4px;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 18px;
}

.icon img {
  width: 20px;
  height: 20px;
}
@media (max-width: 480px) {
    button {
        padding: 10px 16px;
        font-size: 14px;
    }
}
